<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.linyinlu.dao.ConfigDao">
    <select id="findConfigByName" resultType="com.linyinlu.entity.ConfigSystem">
        SELECT * FROM config where config_name = #{config_name}
    </select>
    <update id="updateConfig" parameterType="com.linyinlu.entity.ConfigSystem">
        UPDATE config SET config_value = #{config_value} WHERE config_name = #{config_name}
    </update>
</mapper>